
[submodule "backend"]
	path = backend
	url = https://github.com/victorioso-daniel/IntelliQuizAPI.git

[submodule "IntelliQuiz-Frontend"]
	path = IntelliQuiz-Frontend
	url = https://github.com/your-username/IntelliQuiz-Frontend.git
