

[submodule "backend"]
	path = backend
	url = https://github.com/victorioso-daniel/IntelliQuizAPI.git
	branch = main

[submodule "IntelliQuiz-Frontend"]
    path = IntelliQuiz-Frontend
    url = https://github.com/mamasalanang-gerald/IntelliQuiz-Frontend.git
    branch = main
