
[submodule "backend"]
	path = backend
	url = https://github.com/victorioso-daniel/IntelliQuizAPI.git

[submodule "IntelliQuiz-Frontend"]
	path = IntelliQuiz-Frontend
	url = git@github.com:mamasalanang-gerald/IntelliQuiz-Frontend.git
